# Project files and paths.
.classpath
.project

*.iml
**/*.iml

.settings/
**/.settings/
**/**/.settings/

.idea/
**/.idea/
**/**/.idea/

# ignore OS X metadata
.DS_Store
**/.DS_Store
**/**/.DS_Store

._*
**/._*
**/**/._*

/.svn/
**/.svn/
**/**/.svn/

# ignore python cache
__pycache__/
**/__pycache__/
**/**/__pycache__/

*.pyc
**/*.pyc
**/**/*.pyc